<h1>Stupid Coaching</h1>
<p>Ask your coach anything:</p>
<div class="container">
  <form action="/answer" method="get">
    <input type="text" name="question" placeholder="What would you like to ask the coach?" class = "form">
    <input class="btn-medium" type="submit" value="Ask!">
  </form>
</div>




